.navbarpanel{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 margin-top: -20px;
 /* border: 2px solid ; */
}
#navbar{
    width: 70%;
    justify-content: space-between;
    display: flex;
    margin: auto;
    /* border: 3px solid red; */
    padding: 7px;
    margin-top: 20px;
}

.navbutton{
    font-size: 13px;
    text-decoration:none;
    color: grey;
    font-weight: 400;
}

.navbutton:hover{
    font-size: 13px;
    text-decoration:none;
    color: rgb(5, 195, 195);
    font-weight: 400;
}