.ProductCss{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    border: 1px solid black;
   
}

.onlycartcss{
   
    text-align: left;
    padding: 15px;
}

.onlycartcss:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #24A6BA;
}

.discountcss{
    color: #24A6BA ;
    font-weight: 800px;
}

.ratingcsss{
    color: orangered;
}