.navlist{
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:fixed; */
    /* top: 62px; */
    /* z-index: 999; */
    /* padding-top: 2px; */
    /* padding-left: 150px; */
    /* margin: center; */
    background-color: rgb(36,163,181);
    height: 45px;
    font-weight: 500;
    font-size: 13px;
    
}
.navlist ul{
    list-style: none;
    /* z-index: 999; */
    
    
}
.maintext{
    font-size: 15px;
}

/* .navlist>ul{
 
    border: 1px solid red;
justify-content: space-between;
    display: flex;
    width: 60%;
  
} */


@media only screen and (min-width: 750px) {
    .navlist>ul{
     
        /* border: 1px solid red; */
    justify-content: space-between;
        display: flex;
        width: 90%;
     
    }
  }

  @media only screen and (min-width: 1100px) {
   
        .navlist>ul{
         
            /* border: 1px solid red; */
        justify-content: space-between;
            display: flex;
            width: 60%;
           
        
    }
  }

  
.navlist>ul>li{
    position: relative;
    cursor: pointer;
    /* float: left; */
    /* width: 80%; */
   color: white;
   /* position: fixed; */
    justify-content: center; 
    /* display:inherit;
    align-items: center;
    align-content: center; */
    /* margin: auto; */
    height: 35px;
    
    /* line-height: 35px; */
    /* padding: 5px; */
/* border: 1px solid; */
margin-top: 11px;
    
    
}

.dropdown{
    margin-top: 15px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    /* padding: 10px; */
    width: 200px;
    background-color: white;
    position: fixed;
    z-index: 100;
}

.navlist>ul>li:nth-child(4){
    /* padding-left: 10px; */
}


.dropdown li{
    /* text-align: left; */
    /* width: 300px; */
    /* margin-top: 10px; */
    padding-left: 15px;
    /* padding-right: 10px; */
    /* border: 1px solid yellow; */
    padding-top: 5px;
    color: black;
    background-color: white;
    display: none; 
    line-height: 25px;

}
.navlist>ul>li:last-child>ul>li{
    /* width:200px; */
}
.navlist li:hover .dropdown li {
     display: block;
     
}

.dropdown li:hover{
    background-color: #fff;
    color: #007bff;
}

/* @media (max-width: 1300px) {
    .navlist {
      display: none;
    }
  } */