.ProductCss{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(auto,300px);
    gap: 10px;
    border: 1px solid  #24A6BA ;

   
   
   
   
}

.onlycartcss{
   
    text-align: left;
    padding: 10px;
    border: 1px solid  #24A6BA ;
    
}
.onlycartcss img{
    height: 200px;
}

.onlycartcss:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid #24A6BA;
}

.discountcss{
    color: #24A6BA ;
    font-weight: 800px;
    font-size: 18px;
}

.ratingcsss{
    color: orangered;
}


.filtercss{
    width: 20%;
    font-size: 16px;
    background-color: #24A6BA ;
   
   
 
  
   
}




.productname{
    font-size: 16px;
    font-weight: 200px;
    color: grey;
}

.inputbox{
   padding-left:15px;
   font-size: 18px;
  
  
   color: white;
   background-color: #24A6BA ;
}
.inputbox  input{
  width: 10%;
  color: gray;
  
}
